.navbar-nav {
	display: flex;
	flex-flow: row nowrap;
}

.custom-navbar {
	background-color: #30bcfc;
}

.white-text {
	color: white;
}

.margin-top {
	margin-top: 100px;
}

.margin-right {
	margin-right: 20px;
}

.webcam {
	background-color: green;
}