<!DOCTYPE>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>SamaritanDelivers</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<link rel='stylesheet' href='/static/samaritan_user/stylesheets/base.css' />
		{% block contentCSS %}
		{% endblock %}
	</head>
	<body>
		{% block headerJS %}
		{% endblock %}
		<nav class="navbar custom-navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand white-text" href="#">SamaritanDelivers</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a class='white-text margin-right' href="#">Home</a></li>
					<li><a class='white-text margin-right' href="#">Page 1</a></li>
					<li><a class='white-text margin-right' href="#">Page 2</a></li>
					<li><a class='white-text' href="#">Page 3</a></li>
				</ul>
			</div>
		</nav>
		{% block content %}
		{% endblock %}
		{% block contentJS %}
		{% endblock %}
	</body>
</html>
